$background: #f4f4f4;
$main: #940000;
$dark: #494949;
$light: #fff;

@font-face {
    font-family: 'PTSans-Narrow';
    src: url('/fonts/PT-Sans-Narrow.ttf') format('truetype');
}

body {
    background-color: $background;
}

h1, h2, h3, h4, h5 {
    font-family: 'PTSans-Narrow', sans-serif;
    text-decoration: none;
}

p, blockquote, span, ul, li {
    font-family: 'PTSans-Narrow', sans-serif;
    text-decoration: none;
}

a {
    font-family: 'PTSans-Narrow', sans-serif;
    text-decoration: none;
    color: $main;
    &:hover {
        color: $main;
    }
}

p {
    font-size: 1.3em;
}

blockquote {
    text-align: center;
    font-size: 1.3em;
    margin: 16px 0 32px 0;
    font-style: italic;
}

// Navbar
.navbar {
    position: fixed;
    width: 100%;
    background-color: $background;
    border-bottom: 2px dashed $main;
    padding: 1rem 0;
    margin-top: -0.5rem;

    @media screen and (min-width: 1280px) {
        padding: 1rem 0 1rem 25%;
    }

    a {
        font-size: 1.5em;

        &:visited {
            color: $main;
        }
    }
}

// Sections
.content, .intro {
    padding-top: 15%;
    padding-bottom: 10%;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        padding-top: 5%;
    }
}

.intro {
    h1, h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        //color: $main;
    }
}

.index .intro {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        
        @media screen and (min-width: 1280px) {
            width: auto;
        }
    }
}

.index-intro {
    margin-bottom: 15%;

    a {
        font-size: 1.5em;
    }

    h3 {
        font-size: 2em;
    }
}

.project .intro {
    @media screen and (min-width: 1280px) {
        padding-left: 7%;
        padding-right: 7%;
    }

    h1 {
        font-size: 3em;
        margin-top: 2rem;
    }

    .ornament {
        width: auto;
        margin: 0 auto;
        display: block;
    }
}

.content {
    padding: 2% 0 5%;

    @media screen and (min-width: 1280px) {
        padding-left: 7%;
        padding-right: 7%;
        border-left: 2px dashed $dark;
        border-bottom: 2px dashed $dark;
    }

    ul li {
        font-size: 1.25em;
    }

    .text-container {
        .cvDivider {
            border-bottom: 2px dashed $main;
            padding: 0 0 2rem;
            margin: 0 0 3rem;
        }
    }

    .image-container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        margin: 4rem 0;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr); 
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// Footer
footer {
    text-align: center;
    padding: 1rem 0 0.5rem;
    margin-top: 5%;

    p {
        color: $main;
        font-family: 'PTSans-Narrow', sans-serif;
        font-size: 1.25em;
    }
}